@import "ui-variables";
@import "syntax-variables";

.badge {
    /* box-shadow: offset-l/r offset-top/bottom fade size color;*/
    box-shadow: 2px 4px 4px 2px #202128;
    //background-image: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%)
}

.btn {
    /* box-shadow: offset-l/r offset-top/bottom fade size color;*/
    box-shadow: 1px 3px 4px 1px #202128;
}

input {
    box-shadow: 1px 3px 4px 1px #202128;
}

atom-panel {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.3) 100%)
}

// .tooltip, .top {
//   background-color: black;
//   .tooltip-arrow {
//     color: pink;
//   }
//   .tooltip-inner {
//     background-color: black;
//     .keystroke {
//       background-color: green;
//     }
//   }
// }
